
@section featured {
    <section >
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                
            </hgroup>
       
	        <p class="text-center"style="font-family: Impact; font-size: 2em;">Coming Soon...</p>
	        <p class="text-center">Finish Line Pics - your source for 
		        high quality, reasonably priced pictures
				of you crossing the finish line.
	        </p>
        </div>
    </section>
}
