
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                
            </hgroup>
       
	        <p style="font-family: Impact; font-size: 2em; text-align: center">Coming Soon...</p>
	        <p>Finish Line Pics - your source for 
		        high quality, reasonably priced pictures
				of you crossing the finish line.
	        </p>
        </div>
    </section>
}
